
<div class="row container" style="margin-top:30px">

    <div class="col-md-12">

        <div id="content">
            <div class="boxes boxes-profiles boxes-small boxes-small-home" ng-controller="ImaginationProfileListCtrl"  ng-init="init()">
                <div class="box" ng-repeat="profile in profiles">
                    <ng-include src="'views/profile/block/profile_thumb.html'" ng-init="profile=profile"></ng-include>
                </div><!-- .box -->
            </div><!-- .boxes -->
        </div><!-- #content -->
    </div>

    <!-- <div class="col-md-3">
        <ng-include ng-init="objectType='profile'" onload="objectType='profile'" src="'views/catalog/block/filters.html'"></ng-include>
    </div> -->
</div><!-- .row .container -->

<script src="js/vendor/bootstrap/js/collapse.js"></script>
