<!DOCTYPE html>
<html>
<html ng-app="imagination">
  {% include head.html %}

  <body>

   
<div class="container-fluid">

   {% include header.html %}

    <ui-view>

    </ui-view>

    <ng-include src="'/views/base/signinModal.html'" ng-show="$root.authVars.loginrequired"></ng-include>
    <!--<ng-include src="'views/base/login.html'"></ng-include>-->
    <!-- <ng-include src="'views/base/footer.html'"></ng-include> -->

</div><!-- .container-fluid -->
  
    {% include footer.html %}

  </body>

</html>
